*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/***********Index-Sign-In Page****************/

.Index-sign-in-container{
    width:80vw;
    height:100vh;
    padding:200px 20px 20px 100px;
} 
.Index-sign-in-block{
width:30%;
height:45%;
background-color:rgb(231, 205, 200);
position:absolute;
top:60%;
left:50%;
padding:70px 20px 20px 40px;
box-shadow:2px 2px 5px lightgrey;
}
.quote-block{
margin:30px 50px; 
font-size:20px;
}
.btn{
    background-color:rgb(250, 93, 93);
    color:white;
    margin:30px 10px 10px 250px;
}
.circle{
    z-index:-1;
    border-radius:100px;
    position:absolute;
}
.red-circle{
    width:200px;
    height:200px;
    background-color:rgb(250, 93, 93);
    top:12%;
    left:65%;
}
.black-circle{
    background-color:black;
    width:150px;
    height:150px;
    top:95%;
    left:30%;
}

.footer{
    width:100%;
    height:10vh;
    margin-top:150px;
    padding-top:30px;
    text-align:center;
    background-color:lightgrey;
}

/**********************Home Page********************************/

.carousel-caption{
    background-color:black;
    /* border-radius:2rem; */
    box-shadow: 4px 4px 8px lightgrey;
    padding:1rem;
}
.home-carousel-heading{
    font-size:4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-statistics{
width:100vw;
height:80vh;
/* background-color:rgb(231, 205, 200); */
text-align:center;
padding:10% 4%;
}
.home-statistics-main-heading{
font-size:4rem;
font-weight:bold;
}
.home-statistics-item{
width:300px;
height:200px;
background-color:rgb(250, 93, 93);
display:inline-block;
margin:4% 5%;
border-radius:5%;
padding:2% 0% 0% 0%;
color:white;
box-shadow:2px 2px 2px grey;
}

.home-statistics-item-heading{
padding:0% 0% 2% 0%;
}

/******************************************************Reviews*******************************************************************/

 #reviews{  
    text-align:center;
    background-color:rgb(250, 93, 93);
    color:#fff;
    height:100vh;
    padding:20%;
}

/**************************************************************Additional***********************************************************/
#additional{
    height:100vh;
}

 
